@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.getstarted__page{
    background-color: #1E0742;
    padding: 1% 5%;
}

.app__title{
    font-family: 'Pacifico';
    font-size: 30px;
}
.admin__signin__title{
        font-family: 'Poppins', sans-serif;

    font-weight: 300 !important;
    cursor: pointer;
}
/* .admin__signin__title:hover{
} */

.get__started__section{
    align-items: center;
}
.text__section{
        font-family: 'Poppins', sans-serif;

    /* background-color: blueviolet; */
    text-align: left;
}
.image__section{
    /* background-color: aqua; */
    text-align: center;
}
.text__section__title{
font-weight: 400;
font-size: 40px;
color: white !important;

}
.text__section__subtitle{
    margin: 30px 0;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.get__started__button{
    background-color: #F1C34B;
    border-radius: 4px;
    border:2px solid black;
    width: 300px;
    text-align: center;
    height: 50px;
    font-weight: 800;
    font-size: 20px;
}

/* image section */
.getStarte__page__image{ 
    width: auto;
    height: auto;
}
@media screen and (max-width:700px) {
    .getStarte__page__image{ 
        height:400px;
    }
    .text__section__title{
        font-size: 30px;
        }
}
@media screen and (max-width:500px) {
    .getStarte__page__image{ 
        height:300px !important;
    }
}














